
/*https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500*/

body {
    text-align: center;
    background-color: #b0c8e0;
    font-family: Verdana, sans-serif;
}

hr {
    height: 5px;
    color: #648ea2;
    background-color: #648ea2;
    border-style: dotted;
    max-width: 70px;
    border: none;
}

p {
    font-family: Arial, serif;
    font-size: 120%;
    color: #023047;
}

h1, h2 {
    margin: 0 auto 0 auto;
    font-family: Verdana, serif;
}

h1 {
    font-size: 300%;
    color: #023047;
}

h2 {
    color: #023047;
    font-size: 200%;
}

h3 {
    color: #023047;
}

/*CLASSES*/

.topcloud {
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: -1;
}

.description {
    margin: 0 auto 0 auto;
    position: relative;
    padding-top: 50px;
}

.bottomcloud{
    position: absolute;
    left: 50px;
    bottom: 300px;
    z-index: -1;
}

.programmingpicture{
    max-height: 80vh;
    max-width: 80vw;
    z-index: 1;
}

.middlecontainer{
    margin: 0px auto;
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.profilepicture{
    margin-top: 50px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
}

.skills{
    width: 50%;
    margin: 0px auto;
}

.skill-row-left{
    text-align: right;
    margin: 0px auto;
}

.skill-row-right{
    text-align: left;
    margin: 0px auto;
}

.skill-pictures{
    max-height: 200px;
    max-width: 200px;
}

.bottomcontainer{
    padding-top: 100px;
    height: 200px;
    width: 200px;
    background-color: floralwhite;
}

.contributions{
    display: none;
}

.card {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 margin: 0 auto;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
     transform: translate(-50%, 125%);
     width: 60%;
     border-radius: 1rem;
     border: none;
     background-color: #008bf8;
     color: #fff;
     font-size: 1rem;
     padding: .5rem 1rem;
     position: absolute;
     left: 50%;
     bottom: 0;
     opacity: 0;
     transition: 0.3s ease-out;
    cursor: pointer;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

.icon-social {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 30px;
    max-height: 30px;
}

.icon-social:hover {
 cursor: pointer;
}

a.icon-social:focus {
    outline: none;
    text-decoration: none;
}

.card_p {
 max-width: 550px;
 height: 250px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 margin: 0 auto;
}

.card_p:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}