
/*https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500*/

body {
    text-align: center;
    background-color: #8ecae6;
    font-family: Verdana, sans-serif;
}

hr{
    color: #ffb703;
    border-style: solid;
}
p{
    font-family: Arial, serif;
    font-size: 120%;
    color: #023047;
}

h1, h2 {
    margin: 0 auto 0 auto;
    font-family: Verdana, serif;
}

h1{
    font-size: 300%;
    color: #023047;
}

h2 {
    color: #ffb703;
    font-size: 200%;
}

h3{
    color: #023047;
}

.description{
    margin: 0 auto 0 auto;
    position: relative;
    padding-top: 50px;
}

.topcloud{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: -1;
}

.bottomcloud{
    position: absolute;
    left: 50px;
    bottom: 300px;
    z-index: -1;
}

.programmingpicture{
    max-height: 80vh;
    max-width: 80vw;
    z-index: 1;
}

.middlecontainer{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.bottomcontainer{
    height: 200px;
    width: 200px;
    background-color: floralwhite;
}

.profilepicture{
    margin-top: 50px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
}

.skill-pictures{
    max-height: 200px;
    max-width: 200px;
}

.emailbtn{
    max-width: 50px;
    max-height: 50px;
}

.contributions{
    display: none;
}